<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Details</th>
      <th>Subscriber's number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr id='<%= event.id %>'>
        <td><%= event.title %></td>
        <td><%= event.details %></td>
        <td></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td class='destroy'>Destroy</td>
        <!--<td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
<div id="event-modal" class="modal fade"></div>

<br>

<%= link_to 'New Event', new_event_path %>
