<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @subscriber.event.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subscriber.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscriber.email %>
</p>

<%= link_to 'Edit', edit_event_subscriber_path(@subscriber.event, @subscriber)%> |
<%= link_to 'Back', event_subscribers_path(@subscriber.event) %>
